.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 500px;
    height: 600px;
    border-radius: 10px;
    
}

.right-arrow{
    position: absolute;
    top: 50%;
    right:32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    color: black;
    user-select: none;
}
.left-arrow{
    position: absolute;
    top: 50%;
    left:32px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    color: black;
    user-select: none;
}
.gift{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.giftbox{
    cursor: pointer;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-style: italic;
}

.footer{
    text-align: right;
    font-size: 20px;
    
}